body,
div,
h1,
button,
canvas {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
}

h1 {
  margin: 10px auto 10px 10px;
}

canvas {
  margin: 10px;
  border: 1px solid gray;
}

#game-root {
  background: #eee;
  margin: auto;
  display: flex;
  justify-content: center;
}

#game-kill-switch {
  margin: 10px;
  width: 100px;
  height: 50px;
  background: #eee;
}

.spr-icon {
  height: 1em;
}